#horizontal {
    position: relative;
    left: 0;
    height: 100vh;
    width: 475vw;
    transition: left 0.1 ease;
}

.section {
    height: 100vh;
    width:95vw;
    float: left;
    align-items: center; 
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.banner-div {
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.content-div {
    padding: 2rem;
}
  
.content-padding {
    padding: 0 2rem;
}
  
.content-bg {
    padding: 1rem;
    border-radius: 5px;
}
  
.p-text {
    text-align: justify;
    text-align-last: left;
    margin-top: 30px;
    font-weight: 450;
    padding-left: 20px;
    padding-right: 20px;
}
  
  .grid-photo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
.square-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.footer-div {
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}